<div class="main">
  <div class="container">
    <div class="inner">
      <div class="show-box">
        <div class="shop-show-img">
            <%= attachment_image_tag @shop, :image,fallback: "no_image.jpg", size:'400x400'%>
        </div>
        <ul>
          <h1><li><%= @shop.name %></li></h1>
          ブクマ数<%= @shop.bookmarks.count %>
          タベタ数<%= @shop.eats.count %>
          <li>最寄駅：<%= @shop.station %></li>
          <li><%= @shop.place_name %></li>
        </ul>
          <div class="shop-show-items clearfix">
            <div class="shop-show-map">
              <%= link_to  @shop.place, target: :_blank do %>
                <li>マップ</li>
                <li><i class="fas fa-map-marker-alt shop-show-icon"></i></li>
              <% end %>
            </div>
            <div class="shop-show-instagram">
              <%= link_to @shop.instagram, target: :_blank do %>
                <li>インスタ</li>
                <li><i class="fab fa-instagram shop-show-icon"></i></li>
              <% end %>
            </div>
          </div>
          </div>
      </div>
      <h1><%= link_to '編集',edit_administrator_pages_shop_path %></h1>
      <h1><%= link_to 'トップに戻る',administrator_pages_shops_path %></h1>

      

    </div>
  </div>
</div>
