<div class="main">
  <div class="container">
    <div class="inner">
      <div class="top-box">
      <h1 class="title">大阪<br>スパイス<br>カレー図鑑</h1>
      </div>

      <div class="top-box rank-box clearfix">
        <ul>
          <%@random.each do |random|%>
              <li class="rank-text roulette-btn"><%= link_to 'ランダム', random_shop_path(random.id) %></li>
          <%end%>

          <li class="rank-text  eat-btn"><%= link_to 'タベタ順', eat_shops_path %></li>
          <li class="rank-text favorite-btn"><%= link_to 'カンゲキ順', favorite_shops_path %></li>
          <li class="rank-text bookmark-btn"><%= link_to 'ブックマーク順', bookmark_shops_path %></li>
        </ul>
      </div>

    </div>


    <div class="inner">
      <%  @shops.each do |shop|%>
          <div class="show-box">
          <div class="shop-show-img">
          <%= link_to shop_path(shop.id) do %>
              <%= attachment_image_tag shop, :image,fallback: "no_image.jpg", size:'350x350' %>
          <% end %>
          </div>
          <h1><%= link_to shop.name,shop_path(shop.id) %></h1>
          </div>
      <% end %>

    </div>
  </div>
</div>
