<div class="main">
    <div class="container">
      <div class="inner">
        <div class="user-profile-box">

          <ul>
            <li><%= attachment_image_tag @user, :profile_image,fallback: "no_image.jpg", size:'100x100'%></li>
            <li><%=@user.name%></li>
            <li><%=@user.introduction%></li>
            <li><%= link_to("編集", edit_user_path(@user.id)) %></li>
            <li><%= link_to "ユーザログアウト　", destroy_user_session_path, method: :delete%></li>
          </ul>
        </div>
        <ul class="user-show-icon-box clearfix">
          <%= link_to user_path(@user.id) do %>
              <li><i class="far fa-check-circle user-show-icon"></i></li>
          <% end %>

          <%= link_to favorites_user_path(@user.id) do %>
              <li><i class="far fa-star user-show-icon"></i></li>
          <% end %>

          <li><i class="fas fa-comment user-show-icon"></i></li>
          <%= link_to bookmarks_user_path(@user.id) do %>
              <li><i class="far fa-bookmark user-show-icon"></i></li>
          <% end %>
        </ul>

          <% @comments.each do |comment| %>
            <div class="user-profile-item-box clearfix">
            <% shop = Shop.find(comment.shop_id) %>
              <p><%= attachment_image_tag shop, :image,fallback: "no_image.jpg", size:'90x90'%></p>
              <h4><%=shop.name%></h4>
              <h4><%=comment.comment%></h4>
            </div>
          <% end %>

      </div>
    </div>
  </div>
